---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya:800&text=%20aefghilmnorsuvy');

// customizations will go here

// color scheme
// http://paletton.com/#uid=30u0u0kllll6kJodQt4sQdBI35T
$normal-ink: #2f1500;
$normal-paper: #ffe3cd;
$pale-ink: #6c370b;
$link-ink: #2e4272;
$dark-link-ink: #0e2049;
$alt-paper: #e8b184;

body {
    font-family: Alegreya, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: $normal-ink;
    background-color: $normal-paper;
}

header h1 {
    font-weight: 800;
    a:hover {
	font-weight: 800;
    }
}

header .description {
    margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-top: 18px;
    margin-bottom: 9px;
    font-weight: 700;
}

h4, h6 {
    color: $pale-ink;
}

h6, h5 {
    font-size: 20px;
}

h4, h3 {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 36px;
}

small, a small, .blognav {
    font-size: 13px;
}

p {
    margin: 0;
}

p + p {
    text-indent: 1em;
}

p.superhead {
    margin-bottom: -16px;
}

a {
    color: $link-ink;
}

a:hover, a:focus {
    color: $dark-link-ink;
    font-weight: inherit;
    text-decoration: underline;
}

blockquote {
    border-left: 1px solid $alt-paper;
}

code, pre, strong {
    color: $normal-ink;
}

pre {
    background: $normal-paper;
    border: 1px solid $alt-paper;
}

th, td {
    border-bottom: 1px solid $alt-paper;
}

dt, th {
    color: $pale-ink;
}

hr {
    background: $alt-paper;
}

.muted {
    color: $alt-paper;
}

table.tagpage td.date {
    column-width: 11em;
}

// inline lists
.flatlist ul, ul.flatlist {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    li {
	border-left: 2px solid $alt-paper;
	padding: 0px 7px 0px 9px;
	margin: 9px 0px;
	list-style: none;
	display: inline;
    }
    li:first-child {
	border-left: none;
	padding: 0px 7px 0px 0px;
    }
}

ul.blognav {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 9px;
}


// legacy from the very old blog

.verse ul { margin-left: 0.2in; text-indent: -0.2in; list-style: none; }

.stb { margin-top: 0.1in; }
.mtb { margin-top: 0.15in; }
.ltb { margin-top: 0.2in; }
