---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya:800&text=%20aefghilmnorsuvy');

// customizations will go here
body {
    font-family: Alegreya, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #552700;
    background-color: #fff1e6;
}

header h1 {
    font-weight: 800;
}

header .description {
    margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-top: 18px;
    margin-bottom: 9px;
}

h6, h4, h2 {
    font-weight: 500;
}

h5, h3, h1 {
    font-weight: 700;
}

h6, h5 {
    font-size: 20px;
}

h4, h3 {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 36px;
}

p {
    margin: 0;
}

p + p {
    text-indent: 1em;
}
